<form action="/file/upload" method="post" enctype="multipart/form-data">
  <input type="file" name="file" id="file" class="hidden" required>
  <button type="button" class="button-no-style std-button block" onclick="(() => { const folderId = document.getElementById('folderId'); const fileInput = document.getElementById('file'); fileInput.click(); fileInput.addEventListener('change', () => folderId.click(), { once: true }); })()">
    <img src="/public/icons/upload_file.svg" alt="upload file">
  </button>
  <!-- Embed folderId in submit button. This will be included in the form data when the submit button is clicked. -->
  <button type="submit" class="hidden" id="folderId" name="folderId" value="<%= folderId %>">folderId</button>
</form>