<li class="directory-list__folder">
  <div class="directory-list__folder__buttons">
    <a href="/folder/<%= folder.id %>/update">
      <button type="button" class="button-no-style">
        <img src="/public/icons/edit_square_36.svg" alt="rename folder">
      </button>
    </a>
    <form action="/folder/<%= folder.id %>/delete" method="post">
      <button type="submit" class="button-no-style">
        <img src="/public/icons/delete_36.svg" alt="" srcset="">
      </button>
    </form>
  </div>
  <a href="/folder/<%= folder.id %>" class="link-no-style">
    <img src="/public/icons/folder.svg" alt="">
    <%= folder.name %>
  </a>
</li>