<!DOCTYPE html>
<html lang="en">
  <%- include('partials/head.ejs') %>
  <body>
    <%- include('partials/nav.ejs') %>
    <main class="container">
      <% if (locals.user) { %>
        <%- include('partials/directory-header.ejs') %>
        <%- include('partials/directory-list.ejs') %>
        <% } else { %>
          <h1>Welcome!</h1>
          <p>Sign up or log in to start uploading files!</p>
      <% }; %>
    </main>
  </body>
</html>