<!DOCTYPE html>
<html lang="en">
  <%- include('partials/head.ejs') %>
  <body>
    <%- include('partials/nav.ejs') %>
    <h1>Hello, <%= locals.user ? user.email : 'world' %></h1>
    <form action="/folder/new" method="post">
      <label>
        Name:
        <input type="text" name="name" required>
      </label>
      <button type="submit">Create Folder</button>
    </form>
    <%- include('partials/directory-list.ejs') %>
  </body>
</html>