<!DOCTYPE html>
<html lang="en">
  <%- include('../partials/head.ejs') %>
  <body>
    <%- include('../partials/nav.ejs') %>
    <main class="container std-padding-v">
      <%- include('../partials/directory-header.ejs') %>
      <%- include('../partials/directory-list.ejs', { folders: folder.children, files: folder.files }) %>
    </main>
  </body>
</html>