<!DOCTYPE html>
<html lang="en">
  <%- include('../partials/head.ejs') %>
  <body>
    <%- include('../partials/nav.ejs') %>
    <main class="container">
      <%- include('../directory-list/directory-header.ejs') %>
      <%- include('../directory-list/directory-list.ejs', { folders: folder.children, files: folder.files }) %>
    </main>
  </body>
</html>