@use './util.scss';
@use './elements.scss';

:root {
  font-family: 'Open Sans', Arial, Helvetica, sans-serif;
}

// Reusable utility classes.
.container {
  max-width: 960px;
  margin: 0 auto;
  padding: 0 1rem;
}
