@use './util.scss';
@use './elements.scss';

// Sass variables for breakpoints so they can be used in media queries.
$desktop-breakpoint: 460px;

:root {
  --main-color: #4455ee;
  --off-white: #eeeeee;
  --grey: #aaaaaa55;
  --off-black: #222222;
  --shadow: #22222211;
  --main-text-color: var(var(--off-black));
  --std-border-radius: 5px;
  --std-padding: 1rem;
  font-family: 'Open Sans', Arial, Helvetica, sans-serif;
  color: var(--main-text-color);
}

// Reusable utility classes.
.container {
  max-width: 960px;
  margin: 0 auto;
  padding: 0 1rem;
}

.std-padding-v {
  padding-top: var(--std-padding);
  padding-bottom: var(--std-padding);
}

.std-padding-bottom {
  padding-bottom: var(--std-padding);
}

// Styles for specific components.
.main-nav-background {
  background-color: var(--main-color);
}

.main-nav {
  display: flex;
  flex-direction: column;
  padding: 1rem 1rem;
  gap: 1rem;
  align-items: center;

  a,
  button {
    color: var(--off-white);
  }
}

// This needs to be after main-nav so the color had be changed upon hover.
.nav-link {
  font-weight: 700;

  &:hover {
    filter: brightness(0.75);
  }
}

.directory-list {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 1rem;
}

.directory-list__item-icon-container {
  display: grid;
  grid-template-rows: min-content 1fr;
  justify-items: center;
}

.directory-list__item {
  border: 3px solid var(--grey);
  border-radius: var(--std-border-radius);
  padding: 1rem;
  box-shadow: 5px 5px 5px 5px var(--shadow);

  button,
  .directory-list__item-icon-container {
    transition: background-color 0.1s ease-in-out;
    border-radius: var(--std-border-radius);
    &:hover {
      background-color: var(--grey);
    }
  }
}

.directory-list__folder__buttons,
.directory-list__file__buttons {
  display: flex;
  justify-content: right;
  align-items: center;
}

.directory-list__item-icon {
  width: 100px;
}

@media screen and (min-width: $desktop-breakpoint) {
  .main-nav {
    flex-direction: row;
  }
}
